@model List<Application.WebApps.Models.APIData>

@{
    Layout = null;
}

<!doctype html>

<html lang="en">
<head>



    <meta charset="utf-8">
    <title>Scanned Documents Results</title>
    <meta name="description" content="Contact page with contact form and simplicty information with e-mail and address. Contact form with check input and textarea. ">
    <meta name="keywords" content="thomsoon, simplicity, theme, html5, contact, form">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="thomsoon.com">
    <link rel="icon" type="~/image/png" href="img/icon.png" />

    <!--Style-->

    <link rel="stylesheet" href="~/css/reset.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/style-responsive.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    <style type="text/css">
        .edit-mode {
            vertical-align:top;
        }

        .edit-user {
        }

            .edit-user display-mode {
            }

        .save-user edit-mode {
        }

        .display-mode {
            vertical-align:top;
        }

        .cancel-user {
        }

        .webgrid-table {
            font-family: Arial,Helvetica,sans-serif;
            font-size: 14px;
            font-weight: normal;
            width: 800px;
            display: table;
            border-collapse: collapse;
            border: solid px #C5C5C5;
            background-color: white;
        }

            .webgrid-table td, th {
                border: 1px solid #C5C5C5;
                padding: 3px 7px 2px;
            }

        .webgrid-header, .webgrid-header a {
            background-color: #E3E3E3;
            color: black;
            text-align: left;
            text-decoration: none;
        }

        .webgrid-footer {
        }

        .webgrid-row-style {
            padding: 3px 7px 2px;
            vertical-align:top;
        }

        .webgrid-alternating-row {
            background-color: #F5F5F5;
            padding: 3px 7px 2px;
            vertical-align:top;
        }

        .col1Width {
            width: 50px;
        }

        .col2Width {
            width: 300px;
        }
    </style>

    <script type="text/javascript">
        function m(obj1, obj2) {
            var pid = $("#" + obj1).text();
            var SurName = $(obj2).val();
            var UserModel = { "cosmosID": pid, "imageText": SurName };

            $.ajax({
                url: '/Home/GetGridData/',
                data: JSON.stringify(UserModel),
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    if (data.status == "Fail") {
                        alert("Fail to Update " + data.cosmosID);
                        //$(obj2).val(data.imageText);
                    }
                    else {
                        alert("Successfully Updated " + data.cosmosID);
                    }
                    $(obj2).val(data.imageText);
                }
            });
        }
        $(function () {
            $('.edit-mode').hide();
            $('.edit-user, .cancel-user').on('click', function () {
                var tr = $(this).parents('tr:first');
                tr.find('.edit-mode, .display-mode').toggle();
            });

            $('.save-user').on('click', function () {
                alert('hi');
                var tr = $(this).parents('tr:first');
                var Name = tr.find("#Name").val();
                var SurName = tr.find("#SurName").val();
                var UserID = tr.find("#UserID").html();
                tr.find("#lblName").text(Name);
                tr.find("#lblSurName").text(SurName);
                tr.find('.edit-mode, .display-mode').toggle();
                var UserModel =
                    {
                        "ID": UserID,
                        "Name": Name,
                        "SurName": SurName
                    };
                $.ajax({
                    url: '/User/ChangeUser/',
                    data: JSON.stringify(UserModel),
                    type: 'POST',
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        alert(data);
                    }
                });

            });
        })
    </script>

    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>
<body>

    <div class="preloader" id="preloader">
        <div class="item">
            <div class="spinner">
            </div>
        </div>
    </div>

    <div class="opacity-nav">

        <div class="menu-index" id="buttons" style="z-index:999999">
            <i class="fa  fa-close"></i>
        </div>

        <ul class="menu-fullscreen">
            <li><a class="ajax-link" href="index.html">Home</a></li>
            <li><a class="ajax-link" href="projects.html">Projects</a></li>
            <li><a class="ajax-link" href="about-us.html">About us</a></li>
            <li><a class="ajax-link" href="contact.html">Contact</a></li>
        </ul>

    </div>
    <!--Header-->
    <header id="fullscreen">
        <div class="logo" id="full"><a class="ajax-link" href="@Url.Action("Index", "Home")"><img src="~/Images/250px-Pactera_logo.png" /></a></div>

        <div class="menu-index" id="button">
            <i class="fa fa-bars"></i>
        </div>
    </header>
    <div class="clear"></div>

    <div class="content" id="ajax-content">

        <div class="text-intro">

            <h2>Scanned Documents Results</h2>
            <p>You can edit and save updated information to database</p>
            

            @{
                var grid = new WebGrid(Model);
            }

            <div id="gridContent" style=" padding:20px; ">

                @grid.GetHtml(
      tableStyle: "webgrid-table",
      headerStyle: "webgrid-header",
      footerStyle: "webgrid-footer",
      alternatingRowStyle: "webgrid-alternating-row",
      selectedRowStyle: "webgrid-selected-row",
      rowStyle: "webgrid-row-style",
      mode: WebGridPagerModes.All,
      columns:
grid.Columns(
grid.Column("pid", "Cosmos DB Reference", format: @<text><p id=@item.pid class="display-mode">@item.OCRID </p></text>, style: "height:250px;width:300px"),
grid.Column("imageText", "Text Extract", format: @<text> <textarea rows="4" cols="50" type="text" id=@item.sid class="edit-mode" style="height:250px;width:300px">@item.imageText</textarea></text>),

grid.Column("imageData", "Scanned Image", format: @<text>
                @{ var base64 = Convert.ToBase64String(item.imageData);
         var imgsrc = string.Format("data:image/gif;base64,{0}", base64); }
                <img src='@imgsrc' style="height:250px;width:300px;vertical-align:top" /> </text>, style: "max-width:250px; max-height:274px"),
grid.Column("ImageUrl", "Image Name", format: @<text><p style="max-width:200px; max-height:274px">@item.ImageUrl</p></text>),

            grid.Column("Action", "Text Extract Update", format: @<text>
                <button class="save-user edit-mode" id="btnsave" onclick="m(@item.pid,@item.sid);">Update Content</button>
            </text>, style: "width:250px", canSort: false)
            ))
            </div>
        </div>
    </div>


    <footer>

        <div class="footer-margin">
            <div class="social-footer">
                <a href="https://www.facebook.com/Pactera/"><i class="fa fa-facebook"></i></a>
            </div>
            <div class="copyright">© Copyright 2018 Pactera Technology International Ltd. All Rights Reserved.</div>
        </div>
    </footer>
    <!--Scripts-->
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/jquery.easing.min.js"></script>
    <script src="~/js/modernizr.custom.42534.js" type="text/javascript"></script>
    <script src="~/js/jquery.waitforimages.js" type="text/javascript"></script>
    <script src="~/js/typed.js" type="text/javascript"></script>
    <script src="~/js/masonry.pkgd.min.js" type="text/javascript"></script>
    <script src="~/js/imagesloaded.pkgd.min.js" type="text/javascript"></script>
    <script src="~/js/jquery.jkit.1.2.16.min.js"></script>

    <script src="~/js/script.js" type="text/javascript"></script>

    <script>
    $('#button, #buttons').on('click', function() {
      $( ".opacity-nav" ).fadeToggle( "slow", "linear" );
    // Animation complete.
    });
    </script>
</body>
</html>
